.Messages {
  height: calc(100% - 10.5rem);
  background-image: url(https://res.cloudinary.com/dnboldv5r/image/upload/v1634158161/prochat/wa-bg_hzxngt.jpg);
  background-position: center;
  background-size: contain;
  padding: 2rem 1rem;
  overflow-y: scroll;
}
