.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2f32;
  padding: 0.5rem 1rem;
}

.Brand {
  display: flex;
  align-items: center;
  & img {
    width: 50px;
  }
  & h4 {
    color: #ccc;
    margin-left: 0.6rem;
  }
}
.List {
  list-style: none;
  display: flex;
  & .Item {
    margin: 0 0.5rem;
  }
}
.Item {
  position: relative;
  & .ItemBox {
    display: flex;
    align-items: center;
  }
}
.Button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.Input {
  background-color: #323739;
  border: none;
  width: 100%;
  padding: 0.7rem 01rem;
  border-radius: 28px;
  color: #fff;
}
